
@font-face {
  font-family: 'HighVoltageRough';
  src: url('HighVoltageRough.eot?#iefix') format('embedded-opentype'),  url('HighVoltageRough.woff') format('woff'), url('HighVoltageRough.ttf')  format('truetype'), url('HighVoltageRough.svg#HighVoltageRough') format('svg');
  font-weight: normal;
  font-style: normal;
}
