<div class="main-panel">
  <div class="buttons">
    <div class="left">
      <button *ngIf="hasBack" title="Go back" (click)="goBack()"><i class="fas fa-arrow-left"></i></button>
      <button *ngIf="hasNext" title="Go next" (click)="goNext()"><i class="fas fa-arrow-right"></i></button>
      <button title="Display sequences manager" (click)="managerDisplayed = !managerDisplayed"><i class="fa fa-folder"></i></button>
    </div>
    <div class="sequence-name">
        {{ currentPath }}
      </div>
    <div class="right">
      <button title="Save sequence" (click)="save()"><i class="fas fa-save"></i></button>
    </div>
  </div>
  <div class="bottom-panel">
      <div class="left-panel">
    
          <div class="editor">
            <ngx-codemirror #editor
              [(ngModel)]="content" 
              [options]="{
                lineNumbers: true,
                theme: 'material',
                mode: 'tgs',
                extraKeys: { 'Ctrl-Space': 'autocomplete'}
              }"
              (cursorActivity)="onCursorActivity($event)">
            </ngx-codemirror>
          </div>
        </div>
        <div class="right-panel">
            <div *ngIf="mainModel">
              <div class="block-item"
                [class.selected]="currentBlock === block"
                *ngFor="let block of mainModel.blocksArray"
                (click)="selectBlock(block)">
                {{ block.id }}
              </div>
            </div>
            <div class="invalid-overlay" *ngIf="!isModelValid"></div>
        </div>
        <div class="panel-separator">

        </div>
        <div class="game-display-panel">
          <div class="display-tools">
            <div class="left-sub-panel">
              <ng-container *ngIf="selectedDisplayPanel === 'display'">
                <button title="Reload sequence" (click)="reloadGameDisplay()"><i class="fas fa-redo"></i></button>
                <button title="Reset sequence" (click)="resetGameDisplay()"><i class="fas fa-sync-alt"></i></button>
              </ng-container>
              <ng-container *ngIf="selectedDisplayPanel === 'console'">
                <button title="Clear logs" (click)="clearLogs()"><i class="fas fa-trash"></i></button>
              </ng-container>
            </div>
            <div class="right-sub-panel">
              <button title="View sequence display"
                [class.selected]="selectedDisplayPanel === 'display'"
                (click)="selectedDisplayPanel = 'display'">
                <i class="fas fa-desktop"></i>
              </button>
              <button title="Display console"
                [class.selected]="selectedDisplayPanel === 'console'"
                (click)="selectedDisplayPanel = 'console'">
                <i class="fas fa-terminal"></i>
              </button>
              <button title="Display variables"
                [class.selected]="selectedDisplayPanel === 'variables'"
                (click)="selectedDisplayPanel = 'variables'">
                <i class="fas fa-list-alt"></i>
              </button>
            </div>
          </div>
          <div id="main-structure-scroll" class="display-container">
              <app-main-structure
                *ngIf="selectedDisplayPanel === 'display' && content"
                (externalNavigation)="onExternalNavigation($event)"
                mode="debug"
                [path]="currentPath"
                [content]="content">
              </app-main-structure>
              <app-variables-inspector *ngIf="selectedDisplayPanel === 'variables'"></app-variables-inspector>
              <app-logs-viewer #logs *ngIf="selectedDisplayPanel === 'console'"></app-logs-viewer>
          </div>
          <div class="invalid-overlay" *ngIf="!isModelValid"></div>
        </div>
  </div>
  <div class="error-displayer" *ngIf="!isModelValid && mainModel">Parsing error<br>(line: {{ getPosition(mainModel.endIndex).line + 1 }}, char: {{ getPosition(mainModel.endIndex).char }})</div>
  <div class="message-displayer" [@message]="messageState">{{ messageText }}</div>
</div>
<app-sequences-manager (close)="managerDisplayed = false" (navigation)="onNavigation($event)" *ngIf="managerDisplayed"></app-sequences-manager>