:host /deep/ .CodeMirror {
    height: 100%;
    //font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: RobotoMono-Regular;
    font-size: 13px;
}

:host /deep/ textarea {
    height: 100%;
}

:host {
    /*display: flex;
    flex-direction: column;*/
    height: 100%;
    background-color: #263238;
}

.editor {
    height: 100%;
}

.sequence-name {
    //background-color: #3b4a51;
    color: white;
    font-family: RobotoMono-Regular;
    text-align: center;
    font-weight: bold;
    //line-height: 40px;
    font-size: 19px;
    padding-top: 4px;
    //border-bottom: 1px solid rgba(255, 255, 255, 0.315);
}

.buttons {
    //padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: #263238;
    border-bottom: 1px solid rgba(255, 255, 255, 0.315);

    input {
        color: white;
        border: none;
        font-size: 14px;
        padding: 10px;
        padding-right: 12px;
        padding-left: 12px;
        font-family: RobotoMono-Regular;
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;

        &:hover {
            background-color: lightgrey;
            color: black;
        }
    }

    .left {
        text-align: left;
        //flex: 1;
        
        input {
            border-right: 1px solid rgba(255, 255, 255, 0.315);
        }
    }

    .sequence-name {
        flex: 1;
    }

    .right {
        text-align: right;
        //flex: 1;

        input {
            border-left: 1px solid rgba(255, 255, 255, 0.315);
        }
    }
}

.main-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    .bottom-panel {
        flex: 1;
        display: flex;
        flex-direction: row;

        .left-panel {
            flex: 1;
            height: 100%;
        }
    
        .right-panel {
            width: 200px;
            background-color: white;
            height: 100%;
            background-color: #263238;
            border-left: 1px solid rgba(255, 255, 255, 0.315);
        }

        .panel-separator {
            border-left: 1px solid rgba(255, 255, 255, 0.315);
            border-right: 1px solid rgba(255, 255, 255, 0.315);
            width: 1px;
            background-color: #263238;
        }

        .game-display-panel {
            width: 300px;
            background-color: #263238;
            //border-left: 1px solid rgba(255, 255, 255, 0.315);
        }
    }
}

.title {
    text-align: center;
    color: white;
    font-family: RobotoMono-Regular;
    margin-bottom: 12px;
    font-weight: bold;
}

.block-item {
    cursor: pointer;
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    font-family: RobotoMono-Regular;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 14px;
    padding-left: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.315);

    &:hover {
        background-color: rgba(211, 211, 211, 0.692);
        color: black;
    }

    &.selected {
        background-color: lightgrey;
        color: black;
    }
}