.link {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 6px;
  width: 300px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  background-color: #a70039;
  color: white;
  text-align: center;
  border-radius: 8px;
}

.separator {
  border: 1px solid;
  margin-top: 14px;
  width: 80%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  //padding: 15px;
  max-width: 700px;
  //height: 100%;
  overflow: hidden;
  //position: fixed;
  padding: 15px;
  //padding-bottom: 50px;
  //display: inline-block;
}

.links {
  position: relative;
  margin-top: 12px;
  z-index: 3;
}

.paragraph {
  background-color: #d9f3ff;
  margin-bottom: 7px;
  padding: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 13px;

  &.no-display {
    display: none;
  }

  .line {

  }
}
