<app-tools-panel *ngIf="toolsDisplayed" (onClose)="onClose($event)"></app-tools-panel>
<div class="container">
  <ng-container *ngIf="sequence">

    <div class="paragraph"
      [@hiddenVisible]="animationState(i)"
      (@hiddenVisible.done)="paragraphAnimationEnd($event, i)"
      [class.no-display]="unitsArray.length === 0"
      *ngFor="let unitsArray of sequence.units; let i = index">
      <div class="block-id" *ngIf="debugDisplay" (click)="selectBlock(unitsArray[0].blockId)">#{{ unitsArray[0].blockId }}</div>
      <app-text-block-line *ngFor="let unit of unitsArray" [unit]="unit"></app-text-block-line>
    </div>
    <div class="links" [@linksAnimation]="linksAnimationState">
      <div *ngFor="let link of sequence.links" (click)="loadLink(link)" class="link">{{ link.text }}</div>
    </div>
  </ng-container>
</div>