.slot {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 3px;

    &.odd {
        background-color: rgba(0, 0, 0, 0.02);
    }
    
    .name {
        flex: 1;
    }

    .value {
        
    }

    select, input {
        width: 300px;
    }
}