.slot {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;

    &.odd {
        background-color: rgba(255, 255, 255, 0.1);
    }
    
    .name {
        flex: 1;
    }

    .value {
        width: 300px;
    }

    select, input {
        width: 100%;
    }
}

.slots-container {
    overflow: auto;
}