.line-container {
  display: initial;
}

.line-sub-container {
  display: inline;
}

.paragraph-separator {
  height: 15px;
}

.title {
  font-weight: bold;
  text-align: center;
  display: block;
  font-size: 21px;
  margin-bottom: 26px;
}

.subtitle {
  text-align: center;
  display: block;
  margin-top: 8px;
  font-weight: bold;
  font-size: 15px;
}

.letter {
  font-weight: bold;
  font-family: cursive;
}

.bold {
  font-weight: bold;
}

.i {
  font-style: italic;
}

.b {
  font-weight: bold;
}

.u {
  text-decoration: underline;
}
