/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'ViceCitySans';
  margin: 0;
  font-size: 15px;

  /*background-color: #ffffff;
  background-image: url("backgrounds/60-lines.png");*/
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
